<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.primeton.ygq.demo.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.primeton.ygq.demo.entity.User">
		<constructor>
			<idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="org_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
		</constructor>
	</resultMap>
	<sql id="Base_Column_List">
		id, username, password, org_id
	</sql>
	<select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from demo_user
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="delete" parameterType="java.lang.Integer">
		delete from demo_user
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.primeton.ygq.demo.entity.User"
		useGeneratedKeys="true" keyProperty="id">
		insert into demo_user (id, username, password,
		org_id)
		values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{orgId,jdbcType=INTEGER})
	</insert>
	<update id="update" parameterType="com.primeton.ygq.demo.entity.User">
		update demo_user
		set username = #{username,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		org_id = #{orgId,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>


	<select id="queryUsers" parameterType="java.lang.String"
		resultType="com.primeton.ygq.demo.entity.User">
		select
		u.id,u.username,u.org_id as orgId, o.org_name as orgName
		FROM demo_user as u join demo_organization as o
		where 1=1
		AND u.org_id = o.org_id
		<if test="username != null and username != ''">
			AND u.username like "%"#{username}"%"
		</if>
		<if test="orgId != null and orgId!= 0">
			AND u.org_id = #{orgId}
		</if>
	</select>
	<select id="counts" parameterType="string" resultType="int">
		select count(1)
		from demo_user
		where username =#{username}
	</select>

	<select id="checkUser" parameterType="string"
		resultType="com.primeton.ygq.demo.entity.User">
		select
		<include refid="Base_Column_List" />
		from demo_user
		where username = #{username}
		and password = #{password}
	</select>
</mapper>